<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1033505877008-21ukaa689ae2nm1isubmast9iaomqoin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033505877008-21ukaa689ae2nm1isubmast9iaomqoin</string>
	<key>API_KEY</key>
	<string>AIzaSyBE2BvIr_BBZ1uUSpQq50nrZsYjv5eylMY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033505877008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thehorbach.chat-chat</string>
	<key>PROJECT_ID</key>
	<string>chat-chat-app-59f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-chat-app-59f3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033505877008:ios:a64a3ec8c5d2973f</string>
	<key>DATABASE_URL</key>
	<string>https://chat-chat-app-59f3c.firebaseio.com</string>
</dict>
</plist>